<header class="flex w-full p-6 px-20 bg-gray-900 shadow-2xl justify-between items-center">
    <h1 class="text-gray-200 font-sans:[Roboto] font-bold text-2xl">21 dias de código</h1>
    <nav class="text-gray-200 font-sans:[Roboto] font-bold text-md">
        <a href="#" class="px-4">Hello World!</a>
        <a href="#" class="px-4">Botão</a>
        <a href="#" class="px-4">Calculadora</a>
        <a href="#" class="px-4">404</a>
        <a href="#" class="px-4">Card</a>
        <a href="#" class="px-4">Contador</a>
    </nav>
</header>