.shadow-inside-black{
    box-shadow: inset 0 0 1em  rgb(17 24 39);
}

.shadow-inside-tela{
    box-shadow: inset 0 0 1em rgb(6 78 59);
}

.button-calc{
    @apply p-2 w-16 bg-slate-700  rounded-xl shadow-buttons hover:bg-slate-800 transition-colors;
    
}


.button-memory{
    @apply w-full bg-yellow-400 rounded-full text-yellow-400 shadow-buttons hover:bg-yellow-600 transition-colors hover:text-yellow-600;
    
}

.shadow-buttons{
    box-shadow: inset 0 0 .2em  rgb(17 24 39) , 0 0 2em black;
}

.shadow-calculator{
    box-shadow: inset 0 0 .2em  black;
    filter: drop-shadow(0 0 4rem rgba(0, 0, 0, .5));
}

.animate-neon{
    
    animation: neon 1s alternate infinite ease-in-out;
       
}

.button-on{
    @apply w-full h-[55px] bg-indigo-700 rounded-full leading-5 text-base shadow-buttons text-gray-300 hover:bg-indigo-800 transition-colors;
}

@keyframes neon {
    from{
        filter: drop-shadow(0 0 7rem rgba(79, 70, 229, .5));
    }
    to{
        filter: drop-shadow(0 0 8rem rgba(79, 70, 229, .5));
    }
}