<!-- <mat-dialog-container class="w-full h-full">
    <mat-dialog-content class="w-auto h-screen bg-black">
        <iframe src='https://www.instagram.com/p/ChTBg1BpLGU/embed' class="w-full h-full rounded-xl"></iframe>
    </mat-dialog-content>
</mat-dialog-container> -->

<mat-dialog-content class="lg:w-96 w-80 " style="padding-left: 0; padding-right: 0;height: 60vh;">
    <iframe src='https://www.instagram.com/p/ChTBg1BpLGU/embed' class="w-full h-full  rounded-xl"></iframe>
</mat-dialog-content>