.animate-text{
    animation: blinkCursor 1000ms steps(30) infinite normal, typing steps(30) 4s 1s normal;
    white-space: nowrap;
    overflow: hidden;
    width: 680px;
}

@keyframes blinkCursor {
    from {
        border-right: 3px solid #ffffff;
    }
    to {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 680px;
    }
}

/* 640px */