.pulse {
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
    0% {
        border-color: rgba(255, 255, 255, 1);
    }
    50% {
        border-color: rgba(255, 255, 255, 0);
    }
    100% {
        border-color: rgba(255, 255, 255, 1);
    }
}
