<div class="w-full h-full flex justify-center items-center">
    <div>
        <input type="checkbox" id="id-bt-1" class="switch" (change)="estrelarBg()" #btstar >
        <label for="id-bt-1"></label>
    </div>
</div>
<div id="bg-bubbles">
    <div id="bubbles" class="hidden" #bgstar>
        <span style="--i:{{ arr[0] }}"></span>
        <span style="--i:{{ arr[1] }}"></span>
        <span style="--i:{{ arr[2] }}"></span>
        <span style="--i:{{ arr[3] }}"></span>
        <span style="--i:{{ arr[4] }}"></span>
        <span style="--i:{{ arr[5] }}"></span>
        <span style="--i:{{ arr[6] }}"></span>
        <span style="--i:{{ arr[7] }}"></span>
        <span style="--i:{{ arr[8] }}"></span>
        <span style="--i:{{ arr[9] }}"></span>
        <span style="--i:{{ arr[10] }}"></span>
        <span style="--i:{{ arr[11] }}"></span>
        <span style="--i:{{ arr[12] }}"></span>
        <span style="--i:{{ arr[13] }}"></span>
        <span style="--i:{{ arr[14] }}"></span>
        <span style="--i:{{ arr[15] }}"></span>
        <span style="--i:{{ arr[16] }}"></span>
        <span style="--i:{{ arr[17] }}"></span>
        <span style="--i:{{ arr[18] }}"></span>
        <span style="--i:{{ arr[19] }}"></span>
        <span style="--i:{{ arr[20] }}"></span>
        <span style="--i:{{ arr[21] }}"></span>
        <span style="--i:{{ arr[22] }}"></span>
        <span style="--i:{{ arr[23] }}"></span>
        <span style="--i:{{ arr[24] }}"></span>
        <span style="--i:{{ arr[25] }}"></span>
        <span style="--i:{{ arr[26] }}"></span>
        <span style="--i:{{ arr[27] }}"></span>
        <span style="--i:{{ arr[28] }}"></span>
        <span style="--i:{{ arr[29] }}"></span>
        <span style="--i:{{ arr[30] }}"></span>
        <span style="--i:{{ arr[31] }}"></span>
        <span style="--i:{{ arr[32] }}"></span>
        <span style="--i:{{ arr[33] }}"></span>
        <span style="--i:{{ arr[34] }}"></span>
        <span style="--i:{{ arr[35] }}"></span>
        <span style="--i:{{ arr[36] }}"></span>
        <span style="--i:{{ arr[37] }}"></span>
        <span style="--i:{{ arr[38] }}"></span>
        <span style="--i:{{ arr[39] }}"></span>
        <span style="--i:{{ arr[40] }}"></span>
        <span style="--i:{{ arr[41] }}"></span>
        <span style="--i:{{ arr[42] }}"></span>
        <span style="--i:{{ arr[43] }}"></span>
        <span style="--i:{{ arr[44] }}"></span>
        <span style="--i:{{ arr[45] }}"></span>
        <span style="--i:{{ arr[46] }}"></span>
        <span style="--i:{{ arr[47] }}"></span>
        <span style="--i:{{ arr[48] }}"></span>
        <span style="--i:{{ arr[49] }}"></span>       
    </div>
</div>