/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./assets/bg-stars.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Hacked;
    src: url(./assets/font/HACKED.ttf);
}

@font-face {
    font-family: Digital;
    src: url(./assets/font/Open24DisplaySt.ttf);
}

.Digital{
    font-family: Digital;
}

.Hacked{
    font-family: Hacked;
}

.neon{
    @apply Hacked text-indigo-700;
}

.nav-active{

    @apply text-indigo-500;
}

html, body { height: 101vh; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

